node_modules
dist
.DS_Store
.env

# Ignore the output video from Git but not videos you import into src/.
out

/src/generated/prisma
node_modules/ 
.next/ 
build/ 
public/video.mp4 
editor/uploads/ 
*.mp4 
